.Menu {
  background-color: #03a9f4;
  box-shadow: 0 2px 5px 0 #00000042;
  margin-bottom: 16px;
}

.Menu ul {
  display: block;
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.Menu li {
  color: #def1f0;
  display: inline-block;
  font-size: 14;
  list-style-type: none;
  margin: 0;
  padding: 0;
  position: relative;
}

.Menu li a {
  color: #def1f0;
  display: inline-block;
  font-size: 12px;
  font-weight: 400;
  letter-spacing: 0.5px;
  outline: 0;
  padding: 10px 16px;
  text-decoration: none;
  text-transform: uppercase;
}

.Menu li:hover a {
  background-color: #61b8f6;
  color: white;
}
